@-webkit-keyframes super-rainbow {
  0%   { color: #d24d57; } 
  17%  { color: #f51b35; }
  34%  { color: #f4d03f; }
  51%  { color: #26c281; }
  68%  { color: #3498db; }
  85%  { color: #1f3a93; }
  100% { color: #913d88; }
}
@-moz-keyframes super-rainbow {
  0%   { color: #d24d57; } 
  17%  { color: #f51b35; }
  34%  { color: #f4d03f; }
  51%  { color: #26c281; }
  68%  { color: #3498db; }
  85%  { color: #1f3a93; }
  100% { color: #913d88; }
}

* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body { 
    font: 2rem 'Open Sans', Arial; 
    background-color: #EEEEEE;
}
#send {
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.form-group {
  margin: 0;
}
form { 
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
.modal-body {
  max-height: 60vh;
}
#m {
    font-size: 2rem;
    padding: 10px;
    height: auto;
}
#messages { 
    list-style-type: none;
    padding: 0;
}
#messages li { 
    padding: 5px 10px;
    margin: 3px 0 3px 0;
    word-break: break-all;
}
.text {
    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
}
#header {
    margin-bottom: 1vh;
    padding: 0;
    width: 100%;
    text-align: center;
    color: #333;
    height: 5vh;
}
.btn {
  margin-top: 0;
  margin-bottom: 0;
}
#header * {
    display: inline-block;
}
h1 {
    font-size: 4rem;
}
h3 {
    font-size: 2.5rem;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 0;
    margin-bottom: 3px;
}
#messageblock {
    width: 100%;
    height: 87vh;
    overflow-x: hidden;
}
#roomlist {
    list-style-type: none;
}
#options #optionsbtn {
    position: absolute;
    right: 5px;
    top: 5px;
}
#info #infobtn {
    position: absolute;
    left: 5px;
    top: 5px;
}
#options span {
    cursor: pointer;
    font-size: 2rem;
    color: #4183D7;
}
#frog {
  width: 500px;
  height: 500px;
  z-index: 99999;
  position: fixed;
  opacity: 0.0;
  right: 0;
  bottom: 0;
  -webkit-transition: opacity 1.5s ease !important;
  -moz-transition: opacity 1.5s ease !important;
  -o-transition: opacity 1.5s ease !important;
  transition: opacity 1.5s ease !important;
}
.rainbow {
    -webkit-animation: super-rainbow 5s infinite alternate; 
    -moz-animation: super-rainbow 5s infinite alternate;
}

.sweet-alert .icon.error .line {
  top: 35px;
}
.sweet-alert .icon.error .line.right {
  right: 13px;
}
.sweet-alert .icon.error .line.left {
  left: 13px;
}
.sweet-alert .icon.success .placeholder {
  top: 0;
}
.sweet-alert .icon.success .line.long {
  right: 3px;
}
.sweet-alert .icon.success .line.tip {
  left: 10px;
}

/*phones*/
@media (max-width: 767px) {
  
}
/*tablets*/
@media (min-width: 768px) and (max-width: 991px) {

}
/*small desktops/laptops*/
@media (min-width: 992px) and (max-width: 1199px) {

}